.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Projects > * {
  padding-left: 1em;
}

a {
  color: #61dafb;
}

.hover-link:hover {
  animation: App-logo-spin 2s infinite;
  
}

.project-desc {
  background-color: #282c34;
  color: white;
  width:  inherit;
}

.project-desc {
  text-align: left;
}

.project-desc h2 {
  text-align: center;
}

@keyframes App-logo-spin {
  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }
}
